<div class="row">
  <div class="col-6">
    <ul class="list-group position-fixed top-0 start-0 ms-5 mt-5">
      <li
        class="list-group-item"
        [routerLink]="['/control-equipos/']"
        routerLinkActive="active"
      >
        Inicio
      </li>
      <li
        class="list-group-item"
        [routerLink]="['/control-equipos/equipos']"
        routerLinkActive="active"
      >
        Equipos
      </li>
      <li class="list-group-item" routerLinkActive="active">Mantenimientos</li>
      <li
        class="list-group-item"
        routerLinkActive="active"
        (click)="logOut()"
        style="--bs-link-hover-color-rgb: 25, 135, 84"
      >
        Cerrar Sesión
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <router-outlet></router-outlet>
  </div>
</div>
